body {
	border: 5px solid orange;
}

.container {
	margin: 1rem 2rem 1rem;
}

.button {
	display: block;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
	margin: 0 auto;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.5s;
	white-space: nowrap;
}

.button.green {
	background-color: #acc034;
}
.button.green:hover {
	background-color: #9eb030;
}

.button.orange {
	background-color: #f68b1c;
}
.button.orange:hover {
	opacity: initial;
	background-color: #d67109;
}

#changeText {
	color: red;
	visibility: hidden;
}

#bookmarks {
	padding-left: 0;
}
.bookmark {
	display: flex;
	justify-content: space-between;
	line-height: 1.3;
	padding-bottom: 5px;
}
.bookmark a:visited {
	color: initial;
}
.bookmark a:hover {
	opacity: 80%;
}
.delete {
	color: red;
	font-weight: bold;
	cursor: pointer;
}

.search {
	padding-top: 1rem;
	text-align: center;
}
